body {
  line-height: 1.6;
  padding: 20px;
  max-width: 600px; 
  margin: auto;
  background-color: #f5f6fa;
  text-align: center;
  padding-top: 60px;
  margin: 0 auto;
  font-family:
    "Zen Kaku Gothic New",
    sans-serif;
}


.フォーム {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  border-radius: 8px;
}
h2 {
  color: #333;
  margin-bottom: 30px;
}

h3 {
  margin-top: 25px;
}

select {
  display: block;
  margin: 10px auto 30px auto;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  padding: 8px;
  margin-bottom:20px;
  display: block;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 30px;
  margin: 40px auto;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  display: block;
  width: 100%;
  padding: 10px;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#メッセージ {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #d9534f; 
}

/* 📱 スマホ対応 */
@media screen and (max-width: 600px){

  body {
    padding: 20px;
  }
  .フォーム {
  text-align: left;
}
  h2 {
    font-size: 22px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    text-align: left;
  }

  select {
    width: 100%;
    font-size: 18px;
    padding: 12px;
  }

  button {
    width: 100%;
    font-size: 20px;
    padding: 18px;
    margin-top: 30px;
  }

  #メッセージ {
    font-size: 18px;
    text-align: center;
  }

}
